*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

body{
	background-image: url(mld.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu-bar{
	position: fixed;
	left:450px;
	top: 0px;

	background-color: #444681;
	text-align:center;
	height: 50px;
}

.menu-bar ul{
display: inline-block;
}

.menu-bar  li 	{
	width: 110px;
	margin:18px;
display: inline-block;
}
.menu-bar ul li  a{

	text-decoration: none;
	color: white;

}
.active,.menu-bar ul li a:hover{
	background: #BFC0D5;
	color: #444681;
	border-radius: 7px;
	padding:10px;
}

h1{
	font-size: 80px;
	text-align: center;
	font-family: cursive;	
	color: white;
	margin-top: 20px;
	text-shadow: 0px 0px 10px #444681,
	             0px 0px 20px #444681,
	             0px 0px 30px #444681;
	animation:welcome 4s infinite;
}
h1 span{
	text-shadow: 0px 0px 10px green,
              	 0px 0px 20px green,
	             0px 0px 30px green,
	             0px 0px 40px green,
	             0px 0px 40px green;
	animation:welcome 7s infinite;
}
@keyframes welcome{
	2%{color: yellow}

}
p{
	font-family: Lucida Console;
	font-size: 20px;
	color: yellow;
	font-style: italic;
}
.container1{
	position:relative;
	left: 600px;
}

.container1 div{
	padding:10px;
}

.box1{
	flex-basis:2%;
}

a{
	text-decoration: none;
	color: white;
}

button{
height: 50px;
width: 500px;
border: 1px solid white;
border-radius: 15px;
background-color: #444681;
color: white;
font-family: serif; ;
font-size: 20px;
}
button:hover{
	background: rgb(6, 200, 243);
	color: #444681;
	border-radius: 7px;
	padding:10px;
}
#off{
	padding-top:30px;
	padding-right: 120px;
    height: 200px;
    width:700px;
}